# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Conditional statement/Healthy sleep/out/
/Topics/Conditional statement/Healthy sleep/out/production/classes/
/Topics/Conditional statement/Interval/out/
/Topics/Conditional statement/Interval/out/production/classes/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/First digit/out/
/Topics/Integer types and operations/First digit/out/production/classes/
/Topics/Integer types and operations/Good rest on vacation/out/
/Topics/Integer types and operations/Good rest on vacation/out/production/classes/
/Topics/Integer types and operations/Next even number/out/
/Topics/Integer types and operations/Next even number/out/production/classes/
/Topics/Integer types and operations/Squirrels and nuts/out/
/Topics/Integer types and operations/Squirrels and nuts/out/production/classes/
/Topics/Relational operators/Boys in a sport class/out/
/Topics/Relational operators/Boys in a sport class/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Relational operators/Groundhogs at a party/out/
/Topics/Relational operators/Groundhogs at a party/out/production/classes/
/Topics/Relational operators/Is between/out/
/Topics/Relational operators/Is between/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Theory/build/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/
/Topics/String/Check burgs/out/
/Topics/String/Check burgs/out/production/classes/
/Topics/String/Check prefix ignoring the case/out/
/Topics/String/Check prefix ignoring the case/out/production/classes/
/Topics/String/Comparing strings ignoring whitespaces/out/
/Topics/String/Comparing strings ignoring whitespaces/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/The for-loop/Fizz Buzz/out/
/Topics/The for-loop/Fizz Buzz/out/production/classes/
/Topics/The for-loop/Grades/out/
/Topics/The for-loop/Grades/out/production/classes/
/Topics/The for-loop/Size of parts/out/
/Topics/The for-loop/Size of parts/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/